.link__section {
  padding: 80px 0px 80px;
  background: #161616;
  font-family: "Poppins", sans-serif;

  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__crd {
      display: flex;
      flex-direction: column;
      gap: 10px;
      animation: slideIn 1s ease-out forwards;

      &:nth-child(1) {
        animation: slideFromTop 1s ease-out forwards;
      }

      &:nth-child(2) {
        animation: slideFromBottom 1s ease-out forwards;
      }

      &:nth-child(3) {
        animation: slideFromRight 1s ease-out forwards;
      }

      i {
        font-size: 36px;
        color: white;
      }

      h3 {
        margin-top: 20px;
        font-size: 26px;
        font-weight: 800;
        color: white;
      }

      p {
        width: 346px;
        font-size: 16px;
        line-height: 27px;
        color: white;
      }

      a {
        font-size: 16px;
        color: #b1976b;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
