.wishlist__hero__section {
  background-image: url('../../../assets/about-hero-img.jpg');
  font-family: 'Poppins', sans-serif;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;

  &__heading {
    padding: 136px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    h1 {
      font-size: 51px;
      font-weight: 700;
      animation: slideDown 1s ease-out forwards;
    }
  }

  &__overlay {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #848181ac;
    opacity: 0.2;
  }
}

.wishlist {
    padding: 80px;
    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      thead {
        tr {
          th {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            text-align: left;
          }
        }
      }
      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f9f9f9;
          }
          td {
            padding: 10px;
            img {
              width: 50px;
              height: 50px;
              object-fit: cover;
            }
            button {
              padding: 5px 10px;
              background-color: #ff4d4d;
              color: white;
              border: none;
              cursor: pointer;
              &:hover {
                background-color: #e60000;
              }
            }
          }
        }
      }
    }
  }
  