.sponsor__section{
    background-color: #F4F4F4;
    padding: 70px 100px 70px;
    
    &__wrapper{
       
        display: flex;
        justify-content: space-between;
        img{
           
            width: 220px;
            height: 120px;
        }
    }
}

@media only screen and (max-width: 1363px) {
    .sponsor__section{
     &__wrapper{
        display: flex;
        justify-content: center;
     }
      
    }
  }

  @media only screen and (max-width: 1117px) {
    .sponsor__section{
     &__wrapper{
        display: flex;
        justify-content: center;

        img{
           
            width: 150px;
            height: 80px;
        }
     }
      
    }
  }

  @media only screen and (max-width: 320px) {
    .sponsor__section{
     &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex-direction: column;

        img{
           
            width: 150px;
            height: 80px;
        }
     }
      
    }
  }