.words__section {
  padding: 130px 0px 130px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../../../assets/words-bg.jpg");
  font-family: "Poppins", sans-serif;
  &__wrapper {
    &__heading {
      position: relative;
      text-align: center;
      margin-bottom: 50px;

      &::after {
        position: absolute;
        content: " ";
        background-color: #b1976b;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        height: 3px;
        width: 50px;
        bottom: -30px;
      }
      h3 {
        font-size: 41px;
        font-weight: 700;
        text-transform: none;
        color: #ffffff;
      }
      span {
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #a8a8a8;
      }
    }

    &__slider {
      text-align: center;
      &__crd {
        i {
          font-size: 100px;
          font-weight: 800;
          margin-bottom: 20px;
          color: #b6a188;
        }
        &__body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
          p {
            text-align: center;
            font-size: 21px;
            font-style: italic;
            color: #9e9e9e;
            width: 845px;
          }
          h3 {
            margin-top: 10px;
            color: #ffffff;
            font-size: 20px;
            font-weight: 700;
          }
          span {
            color: #979797;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1363px) {
  .words__section{
    &__wrapper{
      max-width: 900px;
    }
    
  }
}

@media only screen and (max-width: 768px) {
  .words__section{
    &__wrapper{
      max-width: 700px;
      &__slider{
        &__crd{
          &__body{
             p{
              font-size: 14px;
              width: 300px;
             }
             h3{
               font-size: 18px;
             }
             span{
               font-size: 14px;
             }
          }
          i{
            font-size: 50px;
          }
        }
      }
      &__heading{
        span{
         font-size: 12px;
        }
        h3{
         font-size: 30px;
        }
      }
    }
    
  }
}

@media only screen and (max-width: 320px) {
  .words__section{
   
    &__wrapper{
      max-width: 270px;
      &__slider{
        &__crd{
          &__body{
             p{
              font-size: 14px;
              width: 240px;
             }
             h3{
               font-size: 18px;
             }
             span{
               font-size: 14px;
             }
          }
          i{
            font-size: 50px;
          }
        }
      }
      &__heading{
        span{
         font-size: 12px;
        }
        h3{
         font-size: 30px;
        }
      }
    }
    
  }
}